In [111]:
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import pandas as pd

In [206]:
import pandas as pd
df = pd.read_csv('../data/emissions_clean.csv')
df.Item.unique()

array(['Forestland', 'Net Forest conversion', 'All sectors with LULUCF',
       'All sectors without LULUCF'], dtype=object)

In [157]:
import json

In [181]:
# with open("../data/countries.geojson") as response:Brunei Darussalam
with open("../data/countries.geojson") as response:
    
    countries = json.load(response)

In [182]:
jc = []
for feature in countries['features']:
    jc.append(feature['properties']['ADMIN'])

In [183]:
c = list(df.Area.unique())

In [184]:
result_c = []

for item in c:
    if item not in jc:
        result_c.append(item)
        
print(result_c)

['Bahamas', 'Belgium-Luxembourg', 'Bolivia (Plurinational State of)', 'Brunei Darussalam', 'Cabo Verde', 'Channel Islands', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', 'Congo', "Côte d'Ivoire", 'Czechia', 'Czechoslovakia', "Democratic People's Republic of Korea", 'Eswatini', 'Ethiopia PDR', 'Falkland Islands (Malvinas)', 'French Guyana', 'Guadeloupe', 'Guinea-Bissau', 'Holy See', 'Iran (Islamic Republic of)', "Lao People's Democratic Republic", 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'Netherlands Antilles (former)', 'North Macedonia', 'Pacific Islands Trust Territory', 'Pitcairn', 'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Russian Federation', 'Saint Helena, Ascension and Tristan da Cunha', 'Serbia', 'Serbia and Montenegro', 'Sudan (former)', 'Svalbard and Jan Mayen Islands', 'Syrian Arab Republic', 'Timor-Leste', 'Tokelau', 'Türkiye', 'United Kingdom of Great Britain and Northern Ireland', 'USSR', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wallis and Futuna Islands', 'Yugoslav SFR', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia and New Zealand', 'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)', 'Least Developed Countries', 'Land Locked Developing Countries', 'Small Island Developing States', 'Low Income Food Deficit Countries', 'Net Food Importing Developing Countries', 'Annex I countries', 'Non-Annex I countries', 'OECD']

In [162]:
result_jc = []

for item in jc:
    if item not in c:
        result_jc.append(item)
        
print(result_jc)

['Aland', 'Antarctica', 'Ashmore and Cartier Islands', 'French Southern and Antarctic Lands', 'The Bahamas', 'Bajo Nuevo Bank (Petrel Is.)', 'Saint Barthelemy', 'Bolivia', 'Brunei', 'Ivory Coast', 'Clipperton Island', 'Cyprus No Mans Area', 'Republic of Congo', 'Cape Verde', 'Coral Sea Islands', 'CuraÃ§ao', 'Northern Cyprus', 'Czech Republic', 'Dhekelia Sovereign Base Area', 'Falkland Islands', 'Federated States of Micronesia', 'United Kingdom', 'Guernsey', 'Guinea Bissau', 'Hong Kong S.A.R.', 'Heard Island and McDonald Islands', 'Indian Ocean Territories', 'British Indian Ocean Territory', 'Iran', 'Jersey', 'Baykonur Cosmodrome', 'Siachen Glacier', 'South Korea', 'Kosovo', 'Laos', 'Macao S.A.R', 'Saint Martin', 'Moldova', 'Macedonia', 'Pitcairn Islands', 'Spratly Islands', 'North Korea', 'Russia', 'Scarborough Reef', 'Serranilla Bank', 'South Georgia and South Sandwich Islands', 'Saint Helena', 'Somaliland', 'Republic of Serbia', 'Swaziland', 'Sint Maarten', 'Syria', 'East Timor', 'Turkey', 'Taiwan', 'United States Minor Outlying Islands', 'US Naval Base Guantanamo Bay', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'Akrotiri Sovereign Base Area']

In [163]:
countries_dict = {
    'Bahamas' : 'The Bahamas',
    'Bolivia (Plurinational State of)':'Bolivia',
    'Brunei Darussalam':'Brunei',
    'Cabo Verde':'Cape Verde',
    'China, Hong Kong SAR':'Hong Kong S.A.R.',
    'China, Macao SAR':'Macao S.A.R',
    'China, Taiwan Province of':'Taiwan',
    'Congo':'Republic of Congo',
    "Côte d'Ivoire":'Ivory Coast',
    'Czechia':'Czech Republic',
    "Democratic People's Republic of Korea":'North Korea',
    'Eswatini':'Swaziland',
    'Republic of Korea':'South Korea',
    'Falkland Islands (Malvinas)':'Falkland Islands',
    'Guinea-Bissau':'Guinea Bissau',
    'Iran (Islamic Republic of)':'Iran',
    "Lao People's Democratic Republic":'Laos',
    'North Macedonia':'Macedonia',
    'Republic of Moldova':'Moldova',
    'Serbia':'Republic of Serbia',
    'Serbia and Montenegro':'Kosovo',
    'South Georgia and the South Sandwich Islands':'South Georgia and South Sandwich Islands',
    'Sudan (former)':'Somaliland',
    'Syrian Arab Republic':'Syria',
    'Timor-Leste':'East Timor',
    'Türkiye':'Turkey',
    'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
    'USSR':'Russia',
    'Venezuela (Bolivarian Republic of)':'Venezuela',
    'Viet Nam':'Vietnam',
    'Wallis and Futuna Islands':'Wallis and Futuna',    
}

In [164]:
dff = df.copy()
dff.Area = dff.Area.replace(countries_dict)

In [165]:
c = list(dff.Area.unique())

In [166]:
result_c = []

for item in c:
    if item not in jc:
        result_c.append(item)
        
print(result_c)

['Belgium-Luxembourg', 'Channel Islands', 'China, mainland', 'Czechoslovakia', 'Ethiopia PDR', 'French Guyana', 'Guadeloupe', 'Holy See', 'Martinique', 'Mayotte', 'Micronesia (Federated States of)', 'Netherlands Antilles (former)', 'Pacific Islands Trust Territory', 'Pitcairn', 'Réunion', 'Russian Federation', 'Saint Helena, Ascension and Tristan da Cunha', 'Svalbard and Jan Mayen Islands', 'Tokelau', 'Yugoslav SFR', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia and New Zealand', 'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)', 'Least Developed Countries', 'Land Locked Developing Countries', 'Small Island Developing States', 'Low Income Food Deficit Countries', 'Net Food Importing Developing Countries', 'Annex I countries', 'Non-Annex I countries', 'OECD']

In [167]:
print(result_jc)

['Aland', 'Antarctica', 'Ashmore and Cartier Islands', 'French Southern and Antarctic Lands', 'The Bahamas', 'Bajo Nuevo Bank (Petrel Is.)', 'Saint Barthelemy', 'Bolivia', 'Brunei', 'Ivory Coast', 'Clipperton Island', 'Cyprus No Mans Area', 'Republic of Congo', 'Cape Verde', 'Coral Sea Islands', 'CuraÃ§ao', 'Northern Cyprus', 'Czech Republic', 'Dhekelia Sovereign Base Area', 'Falkland Islands', 'Federated States of Micronesia', 'United Kingdom', 'Guernsey', 'Guinea Bissau', 'Hong Kong S.A.R.', 'Heard Island and McDonald Islands', 'Indian Ocean Territories', 'British Indian Ocean Territory', 'Iran', 'Jersey', 'Baykonur Cosmodrome', 'Siachen Glacier', 'South Korea', 'Kosovo', 'Laos', 'Macao S.A.R', 'Saint Martin', 'Moldova', 'Macedonia', 'Pitcairn Islands', 'Spratly Islands', 'North Korea', 'Russia', 'Scarborough Reef', 'Serranilla Bank', 'South Georgia and South Sandwich Islands', 'Saint Helena', 'Somaliland', 'Republic of Serbia', 'Swaziland', 'Sint Maarten', 'Syria', 'East Timor', 'Turkey', 'Taiwan', 'United States Minor Outlying Islands', 'US Naval Base Guantanamo Bay', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'Akrotiri Sovereign Base Area']

In [199]:
new_dict = {
   'Russian Federation' : 'Russia',
   'Micronesia (Federated States of)': 'Federated States of Micronesia',
   'Sint Maarten (Dutch part)' : 'Sint Maarten'  
}

In [200]:
dfff = dff.copy()
dfff.Area = dfff.Area.replace(new_dict)

In [201]:
c2 = list(dfff.Area.unique())

In [202]:
result_c2 = []

for item in c1:
    if item not in jc:
        result_c2.append(item) 
        
print(result_c2)

['Belgium-Luxembourg', 'Channel Islands', 'China, mainland', 'Czechoslovakia', 'Ethiopia PDR', 'French Guyana', 'Guadeloupe', 'Holy See', 'Martinique', 'Mayotte', 'Netherlands Antilles (former)', 'Pacific Islands Trust Territory', 'Pitcairn', 'Réunion', 'Saint Helena, Ascension and Tristan da Cunha', 'Svalbard and Jan Mayen Islands', 'Tokelau', 'Yugoslav SFR', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia and New Zealand', 'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)', 'Least Developed Countries', 'Land Locked Developing Countries', 'Small Island Developing States', 'Low Income Food Deficit Countries', 'Net Food Importing Developing Countries', 'Annex I countries', 'Non-Annex I countries', 'OECD']

In [198]:
print(result_jc)

['Aland', 'Antarctica', 'Ashmore and Cartier Islands', 'French Southern and Antarctic Lands', 'The Bahamas', 'Bajo Nuevo Bank (Petrel Is.)', 'Saint Barthelemy', 'Bolivia', 'Brunei', 'Ivory Coast', 'Clipperton Island', 'Cyprus No Mans Area', 'Republic of Congo', 'Cape Verde', 'Coral Sea Islands', 'CuraÃ§ao', 'Northern Cyprus', 'Czech Republic', 'Dhekelia Sovereign Base Area', 'Falkland Islands', 'Federated States of Micronesia', 'United Kingdom', 'Guernsey', 'Guinea Bissau', 'Hong Kong S.A.R.', 'Heard Island and McDonald Islands', 'Indian Ocean Territories', 'British Indian Ocean Territory', 'Iran', 'Jersey', 'Baykonur Cosmodrome', 'Siachen Glacier', 'South Korea', 'Kosovo', 'Laos', 'Macao S.A.R', 'Saint Martin', 'Moldova', 'Macedonia', 'Pitcairn Islands', 'Spratly Islands', 'North Korea', 'Russia', 'Scarborough Reef', 'Serranilla Bank', 'South Georgia and South Sandwich Islands', 'Saint Helena', 'Somaliland', 'Republic of Serbia', 'Swaziland', 'Sint Maarten', 'Syria', 'East Timor', 'Turkey', 'Taiwan', 'United States Minor Outlying Islands', 'US Naval Base Guantanamo Bay', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'Akrotiri Sovereign Base Area']

In [207]:
#dfff.info()

In [208]:
df.head()

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
0,59,Afghanistan,6751,Forestland,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2388.8030,-2388.8030,-2388.8030,-2388.8030,-2388.8030,-2388.8030,-2388.8030,-2388.8030,-2388.8030,-2388.8030,-2388.8030,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,-246.2191,-246.2191,-246.2191,-246.2191,-246.2191,154.6574,154.6574,154.6574,154.6574,154.6574,NaN,NaN,NaN
1,61,Afghanistan,6750,Net Forest conversion,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN
2,212,Afghanistan,6825,All sectors with LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.4658,296.7285,302.0717,309.1496,323.3615,342.3478,378.7676,408.8165,432.2855,466.2228,419.1023,371.2675,447.8971,463.6655,465.8062,477.8682,487.9664,501.3724,546.1793,562.1262,631.3810,652.3301,648.2713,648.8900,663.5479,634.5774,629.3893,624.3983,635.7765,638.0114,662.7644,NaN,516.8208,683.7073
3,213,Afghanistan,6825,All sectors with LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.5760,9.8467,9.6522,9.7923,9.2279,9.6663,10.4915,11.5397,12.5119,13.4194,11.6462,10.2895,11.9045,12.3870,12.3179,12.8563,12.3056,12.0883,13.1119,14.1314,15.6135,16.3091,16.3303,16.3723,17.3372,17.2410,17.0810,17.9014,15.9129,15.9893,16.7350,NaN,18.5334,25.7772
4,214,Afghanistan,6825,All sectors with LULUCF,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,380.1970,217.1970,-827.8030,-898.8030,-967.8030,-1025.8030,-1104.8030,-1185.8030,-1244.8030,-1460.8030,-1474.8030,1066.9016,1347.9016,1478.9016,1187.9016,1610.9016,1947.9016,2579.9016,4516.9016,7068.9016,8751.9016,12143.7809,10317.7809,8554.7809,7853.7809,7937.7809,7194.6574,8355.6574,8840.6574,9630.6574,9592.6574,NaN,NaN,NaN

In [225]:
new_dfco2 = df[(df['Element']== 'Emissions (CO2)')]
new_dfco2.head(2)

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
0,59,Afghanistan,6751,Forestland,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2388.803,-2388.803,-2388.803,-2388.803,-2388.803,-2388.803,-2388.803,-2388.803,-2388.803,-2388.803,-2388.803,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,121.9016,-246.2191,-246.2191,-246.2191,-246.2191,-246.2191,154.6574,154.6574,154.6574,154.6574,154.6574,NaN,NaN,NaN
1,61,Afghanistan,6750,Net Forest conversion,Emissions (CO2),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN

In [248]:
# saving the dataframe
new_dfco2.to_csv('file1.csv')

In [250]:
new_dfech4 = df[(df['Element']== 'Emissions (CH4)')]
new_dfech4.head(1)

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
2,212,Afghanistan,6825,All sectors with LULUCF,Emissions (CH4),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.4658,296.7285,302.0717,309.1496,323.3615,342.3478,378.7676,408.8165,432.2855,466.2228,419.1023,371.2675,447.8971,463.6655,465.8062,477.8682,487.9664,501.3724,546.1793,562.1262,631.381,652.3301,648.2713,648.89,663.5479,634.5774,629.3893,624.3983,635.7765,638.0114,662.7644,NaN,516.8208,683.7073

In [252]:
# saving the dataframe
new_dfech4.to_csv('ch4.csv')

In [253]:
new_dfn20 = df[(df['Element']== 'Emissions (N2O)')]
new_dfn20.head(1)

,Unnamed: 0,Area,Item Code,Item,Element,Unit,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2030,2050
3,213,Afghanistan,6825,All sectors with LULUCF,Emissions (N2O),kilotonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.576,9.8467,9.6522,9.7923,9.2279,9.6663,10.4915,11.5397,12.5119,13.4194,11.6462,10.2895,11.9045,12.387,12.3179,12.8563,12.3056,12.0883,13.1119,14.1314,15.6135,16.3091,16.3303,16.3723,17.3372,17.241,17.081,17.9014,15.9129,15.9893,16.735,NaN,18.5334,25.7772

In [254]:
# saving the dataframe
new_dfn20.to_csv('n20.csv')

In [232]:
df.Element.unique()

array(['Emissions (CO2)', 'Emissions (CH4)', 'Emissions (N2O)'],
      dtype=object)

In [ ]:
END!

In [233]:
#dff[dff["Element"]=='Emissions (CO2eq) from CH4 (AR5)'].reset_index(drop=True)

In [234]:
#dff[dff["Element"]=='Direct emissions (N2O) '].reset_index(drop=True)

In [235]:
#dfco2.groupby('Area')['Element'].count().sort_values(ascending=False)

In [236]:
#df4 = dfco2.groupby('Area')["Element"].count()
#df4

In [237]:
#dfch4 = df[df["Element"]=='Emissions (CH4)'].nunique()
#dfch4.head(2)

In [238]:
#df5 = dfch4.groupby('Area')["Element"].count()
#df5

In [239]:
#dfco2eq = df[df["Element"]=='Emissions (CO2eq) (AR5)']
#dfco2eq.head(2)

In [240]:
#df6 = dfco2eq.groupby('Area')["Element"].count()
#df6

In [241]:
#dff = df[df["Element"]=='Emissions (CO2eq) from CH4 (AR5)']
#dff.head(2)

In [242]:
#df7 = dff.groupby('Area')["Element"].unique()
#df7